<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:properties.properties" />

	<bean id="myCoachExercisesService"
		class="com.study.springframework.module1.impl.SoccerCoachExercisesService"></bean>

<!-- 	<bean id="myCoach"
 		class="com.study.springframework.module1.impl.SoccerCoach">
 			<constructor-arg ref="myCoachExercisesService" />
 			<property name="isInVacation" value="${soccerCoachIsInVacation}"></property>
	</bean> -->
	
	<bean id="myCoach"
		class="com.study.springframework.module1.impl.TrackCoach">
			<property name="coachExercisesService" ref="myCoachExercisesService" />
			<property name="isInVacation" value="${trackCoachIsInVacation}"></property>
	</bean>

	<bean id="myLoggerConfig"
		class="com.study.springframework.config.MyLoggerConfig"
		init-method="initLogger">

		<property name="rootLoggerLevel" value="FINE"></property>
		<property name="printedLoggerLevel" value="FINE"></property>

	</bean>

</beans>